hr.headerLine {
  width: 100%;
  margin: 0;
  border: 4px #5a2970 solid;
}

div.contactBlock {
  padding: 10px;
  text-align: right;
}

div.contactBlock a {
  color: #5a2970;
}

div.contactBlock a:hover, a:active {
  color: #9d48c4;
}

div.bodyText {
  background: #ffffff;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

ul.navbar-nav > li.active,
ul.navbar-nav > li:focus,
ul.navbar-nav > li:hover {
  color: #dddddd;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 5px solid #dddddd;
}

.navbar {
  font-size: 18px;
  padding: 4px 0 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 8px 8px 4px;
}

@media (min-width: 992px) {
  .navbar {
    font-size: 20px;
    padding: 4px 12px 0;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 8px 15px 4px;
  }
}

div.vergoedBadge {
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  div.vergoedBadge {
    height: 180px;
    width: 40%;
    margin: -90px 100% -90px 60%;
    max-width: 40%;
    max-height: 40%;
  }
}
@media (min-width: 376px) and (max-width: 611px) {
  div.vergoedBadge {
    height: 180px;
    width: 30%;
    margin: -110px 100% -70px 70%;
    max-width: 30%;
    max-height: 30%;
  }
}
@media (min-width: 612px) and (max-width: 767px) {
  div.vergoedBadge {
    height: 180px;
    width: 30%;
    margin: -110px 100% -70px 70%;
    max-width: 30%;
    max-height: 30%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  div.vergoedBadge {
    height: 170px;
    width: 170px;
    margin: -95px -160px -95px -30px;
  }
}
/*! Normally we only care about 980+, but the circle clips between 980 and 1000 */
@media (min-width: 980px) and (max-width: 1019px) {
  div.vergoedBadge {
    height: 170px;
    width: 170px;
    margin: -95px -160px -95px -30px;
  }
}
@media (min-width: 1020px) {
  div.vergoedBadge {
    height: 200px;
    width: 200px;
    margin: -180px -160px -100px -70px;
  }
}
@media print {
  div.vergoedBadge {
    display: none;
  }
}

@media (max-width: 767px) {
  div.indentedText {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  div.indentedText {
    margin-right: 90px;
    margin-left: 160px;
  }
}
@media (max-width: 979px) {
  div.mensenquotes {
    height: 600px;
  }
}
@media (min-width: 980px) and (max-width: 1019px) {
  div.mensenquotes {
    height: 450px;
  }
}
@media (min-width: 1020px) and (max-width: 1139px) {
  div.mensenquotes {
    height: 375px;
  }
}
@media (min-width:1140px) {
  div.mensenquotes {
    height: 300px;
  }
}

.container:before,
.container:after,
/*.row:before,*/
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after,
.row:after {
  clear: both;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #6d6d6d;
}

p {
  margin-top: 1rem;
}

a {
  color: #5a2970;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5a2970;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
}

h2.postTitle {
  position: relative;
  height: 108px;
  overflow: hidden;
}
h2.postTitle:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 2.1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

div.postExcerpt {
  position: relative;
  height: 192px; /* exactly three lines */
  overflow: hidden;
}
div.postExcerpt:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 18px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.btn-info {
  background-color: #39923e;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#51B564", endColorstr="#39923e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#51B564), to(#39923e));
  background-image: -moz-linear-gradient(top, #51B564, #39923e);
  background-image: -ms-linear-gradient(top, #51B564, #39923e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51B564), color-stop(100%, #39923e));
  background-image: -webkit-linear-gradient(top, #51B564, #39923e);
  background-image: -o-linear-gradient(top, #51B564, #39923e);
  background-image: linear-gradient(#51B564, #39923e);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.carousel-indicators .active {
  background-color: #5a2970;
  box-shadow: 1px 1px 1px #5a2970;
}
.carousel-indicators li {
  background-color: #ac94b7;
  box-shadow: 1px 1px 1px #ac94b7;
}

.carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/*div.container {
  padding-left: 0;
  padding-right:0;
}*/

/*div.row {
  margin-left: 15px;
  margin-right:15px;
}*/
