---
showinnav: true
title: Contact
navorder: 7
---
<!DOCTYPE html>
<html>
  <head>
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container translucent">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Contact:</h1>

            <p>
            Massagetherapie Hilversum<br/>
            Ela Wagland<br/>
            Holos Massagetherapeut<br/>
            <br/>
            <table>
              <tr valign="top">
                <td>Hilversum:</td>
                <td>Koninginneweg 13<br/>
            		    1217 KP Hilversum</td>
                <td><a href="https://www.google.com/maps/place/Massagepraktijk+Hilversum/@52.2296668,5.1677145,16z/data=!4m5!1m2!2m1!1sMassagetherapie+Hilversum,+Koninginneweg+13+1217+KP+Hilversum+Netherlands!3m1!1s0x47c66b5cb3127fe9:0xc1581786dbac0550?hl=en-US">Kijk in Google Maps</a><td>
              </tr>
              <tr valign="top">
                <td>Naarden-Vesting:</td>
                <td>Turfpoortstraat 26<br/>
                    1411 EG Naarden</td>
                <td><a href="https://www.google.com/maps/place/Turfpoortstraat+26,+1411+EG+Naarden,+Netherlands/@52.2947828,5.1604862,17z/data=!3m1!4b1!4m2!3m1!1s0x47c61383171d5793:0xf6ace9e0d99a7393?hl=en-US">Kijk in Google Maps</a><td>
              </tr>
            </table>
            <br/>
            Tel: <a href="tel:+31 6 1512 2994">06&nbsp;1512&nbsp;2994</a><br/>
            E: <a href="mailto:info@massagepraktijk-hilversum.nl">info@massagepraktijk-hilversum.nl</a><br/>

            <h1>Openingstijden</h1>

            <p>Massagebehandelingen zijn mogelijk op:</p>

            <p>Dinsdag, donderdag en vrijdag van 9:30 uur tot 21:00 uur<p>

            <p>Telefonische bereikbaarheid: Tussen 8.30 uur en 20:00 uur. Tijdens de massages zet ik mijn mobiel uit; spreek je boodschap in, dan bel ik je z.s.m. terug.</p>

            <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//massagetherapie-hilversum.us13.list-manage.com/subscribe/post?u=839d8f5d128a9c0fbc896df8c&amp;id=deea6bf7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<p><a href="http://us13.campaign-archive1.com/home/?u=839d8f5d128a9c0fbc896df8c&id=deea6bf7f0" title="View previous campaigns">View previous campaigns.</a></p>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_839d8f5d128a9c0fbc896df8c_deea6bf7f0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

            <h1>Bedrijfsinformatie</h1>
            IBAN: NL64ABNA0541045717<br/>
            KvK: 57852871<br/>
            BTW: NL233996151B01<br/>

          </div>
        </div>
      </div>
    </div>

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
