---
showinnav: true
title: Contact
navorder: 6
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor een echt goede massage of massagetherapie ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Parisienne&text=MasgeprktijHlvum' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <style>
      h1 {font-family: 'Parisienne', cursive;}
      span.compName {font-family: 'Parisienne', cursive;}
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        background:url(img/background_l.jpg);
        background-size:100%;
      }
    </style>
  </head>
  <body>
    {% include navigationBar %}

    <div class="container translucent">
      <div class="row">
        <div class="span8">
          <div style="margin:10px">
            <p>Massagebehandelingen zijn mogelijk op:</p>
            <dl class="dl-horizontal">
              <dt>dinsdag, donderdag</dt><dd>van 9.00u tot 14.30u</dd>
              <dt>woensdag, vrijdag</dt><dd> van 9.00u tot 12.00u</dd>
            </dl>
            <p>Mocht u liever op een ander tijdstip behandeld worden dan is dit altijd bespreekbaar.</p>

            <p>Telefonische bereikbaarheid: Tussen 8.30u en 20.00u kun je mij bellen.  Tijdens de massages zet ik mijn mobiel uit; spreek je boodschap in, dan bel ik je z.s.m. terug.</p>
             
            <p>Massagepraktijk Hilversum is gelegen nabij het centrum in oud villas gebied “indische buurt,” vlakbij hotel Tulip Inn. Het is 3-de huis op uw rechte kant vanaf de hoek- Koninginneweg/Sumatralaan. De praktijk is gesitueerd in 8 minuten loopafstand vanaf Centraal Station Hilversum en ook 8 minuten vanaf Station Hilversum Noord.</p>
            <div class="Flexible-container">
              <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sumatralaan+10,+Hilversum&amp;aq=t&amp;sll=52.212992,5.27937&amp;sspn=5.635277,14.227295&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Sumatralaan+10,+1217+GR+Hilversum,+Noord-Holland&amp;ll=52.231203,5.175333&amp;spn=0.006308,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sumatralaan+10,+Hilversum&amp;aq=t&amp;sll=52.212992,5.27937&amp;sspn=5.635277,14.227295&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Sumatralaan+10,+1217+GR+Hilversum,+Noord-Holland&amp;ll=52.231203,5.175333&amp;spn=0.006308,0.013733&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
          </div>
        </div> <!-- /span8 -->

        {% include addressBlock %}
      </div> <!-- /row -->
    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBlockFn %}
  </body>
</html>
