---
showinnav: true
title: Contact
navorder: 6
---
<!DOCTYPE html>
<html>
  <head>
    <title>Holistisch massage in Hilversum en Naarden-Vesting</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container translucent">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <p>Contact:</p>

            <p>
            Massagetherapie Hilversum<br/>
            Ela Wagland<br/>
            Holos Massagetherapeut<br/>
            <table>
              <tr valign="top">
                <td>Praktijk adres:</td>
                <td>Koninginneweg 13<br/>
            		    1217 KP Hilversum</td>
              </tr>
            </table>
            <a href="tel:+31 6 1512 2994">Tel: 06&nbsp;1512&nbsp;2994</a><br/>
            E: <a href="mailto:info@massagepraktijk-hilversum.nl">info@massagepraktijk-hilversum.nl</a><br/>
<br/>
            IBAN: NL64ABNA0541045717<br/>
            KvK: 57852871<br/>
            BTW: NL233996151B01<br/>


            <p>Massagebehandelingen zijn mogelijk op:</p>

            <p>Dinsdag, donderdag en vrijdag van 9:30 uur tot 21:00 uur<p>

            <p>Telefonische bereikbaarheid: Tussen 8.30 uur en 20:00 uur. Tijdens de massages zet ik mijn mobiel uit; spreek je boodschap in, dan bel ik je z.s.m. terug.</p>

            <p>Massagepraktijk Hilversum is gelegen nabij het centrum in de oude villawijk “de Indische buurt,” vlakbij Hilversumse Gemeentehuis en Medisch Centrum Dudokpark. Op de hoek van Koninginneweg en Hooge Naarderweg. De praktijk is gesitueerd op 10 minuten loopafstand van zowel Station Hilversum als Station Hilversum Noord.</p>
            <p>Op de terrein van villapand waar massagepraktijk is gevestigd, is er mogelijkheid om te gratis parkeren. Mocht u geen plek vinden, graag parkeren bij het gemeentehuisparkeerplaats.</p>
            <div class="Flexible-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.7551139358757!2d5.165547416325381!3d52.229666779760336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66b5e7d32361f%3A0xf45ce9d308272890!2sKoninginneweg+13%2C+1217+KP+Hilversum%2C+Netherlands!5e0!3m2!1sen!2sus!4v1456259255002" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
