---
showinnav: true
title: Massagetherapie
navorder: 2
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor ontspanning, rust en massage ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Wat is massagetherapie?</h1>
            <p>Ik werk als massagetherapeut vanuit holistische visie en ik kijk aan lichaam als trouwe en eerlijke kompas. Je lichaam geeft je elke dag signalen af hoe het met je gaat. Een massagetherapie is een tijd van stilstaan bij je lijf, merken en beleven signalen die hij uitzend. Je kan ervaren dat een klacht of symptoom niet op zichzelf staat, maar te maken heeft met bepaalde situaties, je gedachten of patronen in je leven. Ontstond inzichten kunnen je helpen in proces van integratie van alles wat zich in je lijf speelt.</p>

            <h1>Wanneer massagetherapie?</h1>

            <p>Je kan baat aan massagetherapie hebben, bijvoorbeeld :</p>
            <ul>
              <li>bij spanningsklachten, stress en burn-uit</li>
              <li>bij klachten van spieren en gewrichten</li>
              <li>als je onrust ervaart</li>
              <li>als je ondergaan bepaalde situaties en fasen ( ziekte, rouw, scheiding, ontslag, revalidatie)</li>
              <li>bij slaapproblemen</li>
              <li>als je behoefte aan aandacht voor jezelf hebt</li>
              <li>als je wil een verbinding met je lijf herstellen</li>
            </ul>

            <p>Soms is het verstandig om massagetherapie te ondergaan in combinatie met psychotherapie of andere medische behandeling. Zo je kan integreren wat je weet met dat wat je voelt.</p>

            <p>Massagetherapie is geschikt voor iedereen , jong en oud. Je hoeft geen verwijzing van aarts te beschikken.</p>
          </div>
        </div> <!-- /span8 -->
      </div> <!-- /row -->
    </div> <!-- /container -->

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
