---
showinnav: true
title: Massagetherapie
navorder: 2
---
<!DOCTYPE html>
<html>
  <head>
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Wat is massagetherapie?</h1>
            <p>Ik werk als massagetherapeut vanuit de holistische visie en kijk naar het lichaam als een trouw en eerlijk kompas. Je lichaam geeft je iedere dag signalen hoe het met je gaat. Massagetherapie is een tijd van stilstaan bij je lichaam, van opmerken en beleven van de signalen die het lichaam uitzendt. Je kan ervaren dat een klacht of symptoom niet op zichzelf staat, maar te maken heeft met bepaalde situaties, je gedachten of patronen in je leven. Vanuit deze ontstane inzichten helpt massagetherapie bij het integratieproces van alles wat zich in je leven afspeelt.</p>

            <h1>Wanneer massagetherapie?</h1>

            <p>Je kan baat hebben bij massagetherapie, bijvoorbeeld :</p>
            <ul>
              <li>bij spanningsklachten, stress en burn-out</li>
              <li>bij klachten van spieren en gewrichten</li>
              <li>als je onrust ervaart</li>
              <li>als je bepaalde situaties en fasen ondergaat (zoals ziekte, rouw, scheiding, ontslag, revalidatie)</li>
              <li>bij slaapproblemen</li>
              <li>als je behoefte aan aandacht voor jezelf hebt</li>
              <li>als je een verbinding met je lichaam wilt herstellen</li>
            </ul>

            <p>Massagetherapie is geschikt voor iedereen, jong en oud. Er is geen verwijzing van een arts voor nodig.</p>

            <p>Soms is het verstandig om massagetherapie te ondergaan in combinatie met psychotherapie of een andere medische behandeling. Zodat je wat je weet&nbsp;(geest), kan integreren met wat je voelt&nbsp;(lichaam).</p>
          </div>
        </div> <!-- /span8 -->
      </div> <!-- /row -->
    </div> <!-- /container -->

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
