---
showinnav: true
title: Inspiratie
navorder: 6
---
    <div class="container">
      <div class="row">
        <div class="span12">
          <img srcset="img/header_5x2.jpg 950w, img/header_5x1.jpg 475w"
               src="img/header_5x1.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Samenwerking</h1>
            <p>
              <ul>
                <li><a href="http://www.praktijkmichaelris.nl" target="_blank">Praktijk Michael Ris</a></li>
                <li><a href="http://www.hildehuisman.nl" target="_blank">Hilde Huisman &amp; Co</a></li>
              </ul>
            </p>

            <h1>Inspiratie blog</h1>
          </div>
        </div>

        <div class="indentedText">
          {% for post in site.posts %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if thecycle == 'odd' %}
              <div class="row">
            {% endif %}
                <div class="span4">
                  <a href="{{ post.url }}">
                    <h2>{{ post.title }}</h2>
                  </a>
                  <img src="{{post.img}}"/>
                  {{ post.excerpt }}
                  <p><a href="{{ post.url }}">Lees meer…</a></p>
              </div>
            {% if thecycle == 'even' or forloop.last %}
              </div>
            {% endif %}
          {% endfor %}
          {% include maillist teaser="Wil je meer horen als dit? "%}
        </div>
      </div> <!-- /row -->
    </div> <!-- /container -->
