---
showinnav: true
title: Inspiratie
navorder: 6
---
<!DOCTYPE html>
<html>
  <head>
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Inspiratie blog</h1>

              <h2>Versterk je genezend vermogen op 5 niveaus</h2>
              <p>Onlangs heb ik een boeiende lezing meegemaakt van Henk Frans, arts met holistische werkwijze. De thema ervan was “Psychosomatics, de betekenis van ziekte”. De grote lijnen van lezing zijn om te vinden in het boek die Frank samen met Arnout Visscher in 2014 geschreven :"Versterk je genezend vermogen op 5 niveaus".Dit boek geeft een waardevol overzicht van preventie maatregelen die je zelf kunt nemen om 'weg te bewegen' van ziekte in de richting van optimale vitaliteit en levensvervulling.</p>

              <p><a href="blog_Versterk_je_genezend_vermogen_op_5_niveaus.html">Lees meer…</a></p>

              {% include maillist teaser="Wil je meer horen als dit? "%}
          </div>
        </div> <!-- /span12 -->
      </div> <!-- /row -->
    </div> <!-- /container -->

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
