---
showinnav: true
title: Inspiratie
navorder: 6
---
<!DOCTYPE html>
<html>
  <head>
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container">
      <div class="row">
        <div class="span12">
          <img srcset="img/header_5x2.jpg 950w, img/header_5x1.jpg 475w"
               src="img/header_5x1.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Samenwerking</h1>
            <p>
              <ul>
                <li><a href="http://www.praktijkmichaelris.nl" target="_blank">Praktijk Michael Ris</a></li>
                <li><a href="http://www.hildehuisman.nl" target="_blank">Hilde Huisman &amp; Co</a></li>
              </ul>
            </p>

            <h1>Inspiratie blog</h1>

            <h2>Versterk je genezend vermogen op 5 niveaus</h2>
            <p>Onlangs heb ik een boeiende lezing meegemaakt van <a href="https://www.henkfransen.nl">Henk Fransen</a>, arts met holistische werkwijze. De thema ervan was “Psychosomatics, de betekenis van ziekte”. De grote lijnen van lezing zijn om te vinden in het boek die Henk samen met <a href="http://www.arnoutvisscher.nl">Arnout Visscher</a> in 2014 geschreven: <i><a href="https://www.bol.com/nl/p/versterk-je-genezend-vermogen-op-vijf-niveaus/9200000026165418/">Versterk je genezend vermogen op 5 niveaus</a></i>. Dit boek geeft een waardevol overzicht van preventie maatregelen die je zelf kunt nemen om ‘weg te bewegen’ van ziekte in de richting van optimale vitaliteit en levensvervulling.</p>

            <p><a href="blog_Versterk_je_genezend_vermogen_op_5_niveaus.html">Lees meer…</a></p>

            {% include maillist teaser="Wil je meer horen als dit? "%}
          </div>
        </div> <!-- /span12 -->
      </div> <!-- /row -->
    </div> <!-- /container -->

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
