---
showinnav: true
title: Massages en Visie
navorder: 3
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor ontspanning, rust en massage ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Holistisch, wat betekend dat?</h1>

            <p>Holisme staat voor onlosmakelijk  verband tussen lichaam en geest. Jij ben een geheel, alles wat je denkt, ervaart, voelt, meemaakt, wat je ontvangt van je ouders. En dit alles druk zich af in je lijf. Je lichaam is altijd aanwezig  in het “nu” en slaat alles op zijn eigen manier op. Je kan het zien bijvoorbeeld in volksuitdrukkingen: ”van verdriet geen brok door je keel kunnen krijgen” of ”sterven aan een gebroken hart”.<p>
            <p>Door aandachtig te volgen wat je ervaart tijdens massage kan je in contact komen met je diepere lagen van je. Zo kan je begrijpen en leren de tal van je lichaam te verstaan.</p>
            <p>In holistische benadering de klacht is een wijzer die een aandacht, onderzoek en een integratie vraagt. Zo kan je weer geheel worden.</p>
            <p>In praktijk van Massagetherapie Hilversum ben je uitgenodigd je lichaam te vertrouwen en gebruik van zijn wijsheid maken.</p>
            <p>Laat je lijf spreken.</p>

            <h1>Massages</h1>
            <p>Ik maak gebruik van verschillende massagevormen:</p>

            <h2>Klassieke massage</h2>
            <p>Deze massagevorm richt zich voornamelijk op spieren, pezen, gewrichten en het onderhuids bindweefsel. Het geeft een gelegenheid om laten je ervaren waar in je lijf een spanning of ontspanning voelt. Door middel van aandachtige knedingen en strijkingen wordt de bloedcirculatie, lymfestroom en stofwisseling in je lichaam door massage gestimuleerd. Tijdens dit massage kunnen ook eventuele triggerpoints behandeld worden.</p>

            <h2>Ontspanning/energetisch massage</h2>
            <p>Vergeleken met de klassieke massage is een ontspanningsmassage minder gericht op spieren en wordt als subtieler ervaren. Het is een rustig manier van aanraken. Je kunt je gewaar worden van emoties, tintelingen en pijn, maar ook tot rust komen en ontspannen. De massage nodigt uit om je aandacht naar binnen te keren en te gaan voelen wat er op dit moment in je lichaam gaande is. Het dragen, liften en strekken van armen en benen, en het dragen en draaien van het hoofd valt onder deze massage. Het nodigt uit te ervaren waar je vasthoudt of je juist overgeeft. Deze techniek is rustgevend en vooral toepasbaar bij stress, burn out en spanningshoofdpijn, maar ook voor wie eens lekker ontspannen tot zichzelf wil komen.</p>

            <h2>Holistic Pulsing</h2>
            <p>Het is een zachte behandelwijze, waarbij het lichaam op een speelse, natuurlijke manier in beweging word gebracht. Het lichaam word gepulsed in een op jou afgestemd ritme. Een van uitgangspunten is acceptatie van dat wat er is . Het nodigt uit om te zijn wie je bent. Tijdens de massage kun je ervaren waar spanning, blokkaden zich bevinden.</p>

            <h2>Bindweefsel massage</h2>
            <p>Het oppakken van de huid en rollen in 4 verschillende richtingen  waardoor de huidlagen losser kunnen worden. Doorbloeding word hier sterk gestimuleerd.</p>
            <p>Doordat de huid letterlijk wordt in beweging gebracht kun je ervaren wat er “onderhuids” speelt.</p>

            <h2>Chakra massage</h2>
            <p>Chakra’s zijn energiecentra in je lichaam. ze hebben eigen energie, eigen functie en eigen bron. Ze samenhangen en voeden elkaar in opkomende en stijgende energiestroom. Tijdens massage word aandacht gebracht aan 7 chakra’s langs je spijn.</p>

            <h2>Focussen</h2>
            <p>Het is een aandacht geven aan je lijfelijke gewaarwordingen op een respectvolle, benieuwde manier. Je maakt een veilige ruimte van binnen voor alles wat zich aandient, dus ook weerstand, schaamte, zelfkritiek en andere negatieve gevoelens of oordelen. Als je bij ze stilstaan, kan het zich ontvouwen, Zo word het duidelijk waar het echt om gaat.</p>
          </div>
        </div>
      </div>
    </div>

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
