---
showinnav: true
title: Massages en Visie
navorder: 3
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor ontspanning, rust en massage ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Holistisch, wat betekend dat?</h1>

            <p>Holisme staat voor onlosmakelijk  verband tussen lichaam en geest. Jij bent één geheel, alles wat je denkt, ervaart, voelt, meemaakt, wat je erft van je ouders. En dit alles heeft zijn invloed op het lichaam. Je lichaam is altijd aanwezig  in het “nu” en slaat alles op zijn eigen mannier op. Je kan het zien bijvoorbeeld in volksuitdrukkingen: “van verdriet geen brok door je keel kunnen krijgen” of “sterven aan een gebroken hart”.</p>
            <p>Door aandachtig te volgen wat je ervaart tijdens massage kan je in contact komen met je diepere lagen van jou. Zo kan je begrijpen en leren de taal van jouw lichaam te verstaan.</p>
            <p>In de holistische benadering is de klacht een aanwijzing die om aandacht, onderzoek en integratie vraagt. Vanuit die benaderingen met aandacht voor de aanwijzing, kan je weer een geheel worden.</p>
            <p>In de praktijk van Massagetherapie Hilversum ben je uitgenodigd je lichaam te vertrouwen en gebruik te maken van zijn wijsheid.</p>
            <p>Laat je lichaam spreken.</p>

            <h1>Massages</h1>
            <p>Ik maak gebruik van verschillende massagevormen:</p>

            <h4>Klassieke massage</h4>
            <p>Deze massagevorm richt zich voornamelijk op spieren, pezen, gewrichten en het onderhuids bindweefsel. Het geeft de gelegenheid om je te laten ervaren waar je in je lijf spanning of ontspanning voelt. Door middel van aandachtige knedingen en strijkingen wordt de bloedcirculatie, lymfestroom en stofwisseling in je lichaam gestimuleerd. Tijdens deze massage kunnen ook eventuele triggerpoints behandeld worden.</p>

            <h4>Ontspanning/energetisch massage</h4>
            <p>Vergeleken met de klassieke massage is een ontspanningsmassage minder gericht op spieren en wordt als subtieler ervaren. Het is een rustige manier van aanraken. Je kunt je gewaar worden van emoties, tintelingen en pijn, maar ook tot rust komen en ontspannen. De massage nodigt uit om je met aandacht naar binnen te keren en te gaan voelen wat er op dit moment in je lichaam gaande is. Het dragen, liften en strekken van armen en benen, en het dragen en draaien van het hoofd valt onder deze massage. Het nodigt uit te ervaren waar je vasthoudt of je juist overgeeft. Deze techniek is rustgevend en vooral toepasbaar bij stress, burn out en spanningshoofdpijn, maar ook voor wie eens lekker ontspannen tot zichzelf wil komen.</p>

            <h4>Holistic Pulsing</h4>
            <p>Het is een zachte behandelwijze, waarbij het lichaam op een speelse, natuurlijke manier in beweging word gebracht. Het lichaam word gepulsed in een op jou afgestemd ritme. Eén van de uitgangspunten is acceptatie van dat wat er is. Het nodigt uit om te zijn wie je bent. Tijdens de massage kun je ervaren waar spanning en blokkades zich bevinden.</p>

            <h4>Bindweefsel massage</h4>
            <p>Het oppakken van de huid en rollen in 4 verschillende richtingen waardoor de huidlagen losser kunnen worden. Doorbloeding wordt hier sterk gestimuleerd.</p>
            <p>Doordat de huid letterlijk in beweging wordt gebracht kun je ervaren wat er “onderhuids” speelt.</p>

            <h4>Chakra massage</h4>
            <p>Chakra’s zijn energiecentra in je lichaam. Ze hebben eigen energie, eigen functie en eigen bron. Ze hangen samen en voeden elkaar in een opkomende en stijgende energiestroom. Tijdens de massage wordt er aandacht gegeven aan 7 chakra’s langs je wervelkolom.</p>

            <h4>Focussen</h4>
            <p>Het is een aandacht geven aan je lijfelijke gewaarwordingen op een respectvolle, nieuwsgierige manier. Je maakt een veilige ruimte van binnen voor alles wat zich aandient, dus ook weerstand, schaamte, zelfkritiek en andere negatieve gevoelens of oordelen. Als je bij deze gevoelens stilstaat, kan ze zich ontvouwen, zo word het duidelijk waar het echt om gaat.</p>
          </div>
        </div>
      </div>
    </div>

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
