---
showinnav: true
title: Over Mij
navorder: 5
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor ontspanning, rust en massage ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Over mij</h1>
            <p>Ik ben Ela Wagland. Ik ben Poolse vrouw met een Australische man en twee kinderen. Ik kwam in aanraking met massages nadat in 2008 had ik met een depressie te maken hebben. Ik was gedwongen toen uitstappen van mijn zakelijke leven en rechten mijn aandacht op mezelf.</p>
            <p>Stilstaan bij mezelf, mijn patronen, pijn, gedachten en tegelijkertijd ontwikkeling van acceptatie en zelfobservatie heb ik tijdens mijn 4-jarige HBO opleiding tot massagetherapeut bij Holos ontdekt. Ik leerde dat mijn lijf  mijn spiegel en mijn gids is.</p>
            <p>Als massagetherapeut laat ik je door middel van verschillende massagevormen in contact komen met wat in jou op dit moment spelt. Vanaf die kennis en acceptatie ervan ontstaat ruimte, balans en ontspanning. Je voel je weer geheel.</p>
            <p>Mogen je in dit proces begeleiden is een cadeau voor me.</p>
          </div>
        </div> <!-- /span12 -->
      </div> <!-- /row -->
    </div> <!-- /container -->

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
