---
showinnav: true
title: Over Mij
navorder: 5
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor ontspanning, rust en massage ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <p>Mijn naam is Ela Wagland. Ik ben geboren en opgegroeid in Polen en sinds 1999 woon ik samen met mijn man en twee lieve kinderen in Nederland. Ik heb een zakelijke achtergrond. Na mijn studie Economie heb ik jaren in het bedrijfsleven wereld gewerkt.</p>
            <p>Doordat een leven ook spanningen en veranderingen met zich mee brengt ben ik gaan onderzoeken hoe ik mijn leven vanuit andere perspectieven kon bekijken. Uiteindelijk is toen de interesse voor massages ontstaan.</p>
            <p>Het fascineert mij wat aandacht en liefdevolle aanraking kan opleveren. De stilte, mildheid en acceptatie staat centraal in mijn massages en daarom heb ik gekozen voor het doen wat ik het liefste doe: door massage mensen helpen op een wezenlijke manier in contact met zichzelf te komen en ontspannen.</p>
            <p>In 2012 heb ik opleiding tot masseur afgerond en momenteel ben ik studente massagetherapie bij Holos Massage Academie in Utrecht. Yoga en natuur inspireert mij steeds weer en ik haal dan ook veel inspiratie uit de diverse workshops die ik heb gevolgd over bewustwording en meditatie. Verder heb ik veel interesse in alles wat onze lichamelijke en geestelijke welbevinden beïnvloed.</p>
          </div>
        </div> <!-- /span12 -->
      </div> <!-- /row -->
    </div> <!-- /container -->

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
