---
showinnav: true
title: Waarom Massage
navorder: 2
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor een echt goede massage of massagetherapie ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container translucent">
      <div class="row">
        <div class="span8">
          <div style="margin:10px">
            <p>Massage is een manier om spanning effectief af te bouwen. Het bevordert het natuurlijke herstelproces van het lichaam, maakt het lichaam soepel. Massage doet je weer krachtig voelen en het geeft je zelfvertrouwen. Massage werkt helend op de structuur van het lichaam (spieren, bloedcirculatie, organen, huid enz) en op je energie. Het brengt je terug naar je balans en welzijn.</p>

            <p>Wat kun je door een massage bereiken:</p>

            <ul>
              <li>meer rust en ontspanning</li>
              <li>meer energie hebben</li>
              <li>je gezonder en vitaler voelen</li>
              <li>in contact komen met jezelf en je lichaam</li>
              <li>minder last van stijve of pijnlijke spieren</li>
              <li>meer balans in je houding, zenuwstelsel en hormoonhuishouding</li>
              <li>beter slapen</li>
              <li>meer aarden en steviger op de grond staan</li>
              <li>helpen te herstellen van overbelasting of burn-out</li>
              <li>preventieve zorg voor lichaam en geest</li>
              <li>even uit de drukte van het dagelijks bestaan stappen</li>
              <li>je leven beter afstemmen op je eigen kompas</li>
              <li>betere bloed- en lymfecirculatie en verbetering van je stofwisseling</li>
              <li>leren fysieke en mentale klachten sneller opmerken</li>
            </ul>
          </div>
        </div> <!-- /span8 -->

        {% include addressBlock %}
      </div> <!-- /row -->
    </div> <!-- /container -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBlockFn %}
  </body>
</html>
