---
showinnav: true
title: Werkwijze
navorder: 4
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor een echt goede massage of massagetherapie ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container translucent">
      <div class="row">
        <div class="span8">
          <div style="margin:10px">
            <p>We beginnen de afspraak met een gesprekje over hoe het nú met je gaat. Uit dit gesprek komt misschien ook naar voren welk gebied in je lichaam aandacht vraagt. Een holistische massage is  langzaam en met veel aandacht voor jou. Hierdoor kun je volgen waar de masserende handen zijn, voelen je lijf en ervaren wat een massage met je doet. De masseur uitnodigt je om verwelkom zonder oordel alle gevoelens, gedachten en belevingen die komen. Na de massage bespreken we kort hoe het met je is en ervaringen van de massage.</p>

            <h2>Praktische informatie</h2>
            <h3>Afspraak</h3>
            Alle massagebehandelingen gaan op afspraak. Tijdens de eerste behandeling zal er begonnen worden met een kort intake gesprek van 15 minuten. De eerste behandeling duurt ongeveer een kwartier langer. Hier zijn geen extra kosten aan verbonden.
            </p>
            <h3>Prijzen</h3>
            <p>Behandeling 60 minuten: € 45</p>
            <p>Behandeling 90 minuten: € 60</p>

            <p>Ook heeft Massagepraktijk Hilversum een 5- en 10- rittenkaart.</p>
            <dl class="dl-horizontal">
              <dt>5-rittenkaart</dt><dd>Koop deze kaart en krijg je liefst 5% korting op de kost van 5 behandelingen!</dd>
              <dt>10-rittenkaart</dt><dd>Koop deze kaart en krijg je liefst 10% korting op de kost van 10 behandelingen! Of te zien 10 massages voor de kost van 9!</dd>
            </dl>
            <p>Voor het bestellen van een massagebon of een rittenkaart kun je telefonisch contact opnemen via 06 1512 2994.</p>
            <p>Betaling bij voorkeur contant en direct na de behandeling. In de praktijk is pinbetaling niet mogelijk.</p>

            <h3>Verhindering</h3>
            <p>Als je bent verhinderd laat dit dan minimaal 24 uur van te voren weten.
            Lukt dit niet? Geef dan je partner of een vriend(in) deze massage.</p>

            <p>Bij niet tijdig annuleren of verplaatsen van de afspraak wordt het volledige bedrag in rekening gebracht voor de gereserveerde tijd.</p>

            <h3>Cadeaubon: de Massagebon</h3>
            <p>Wil je iemand een massagebehandeling cadeau doen, of wil je iemand een steuntje in de rug bieden? Een Massagebon is dan een uniek cadeau! Deze bon kan op afspraak afgehaald worden.</p>

            bon beeld als per

          </div>
        </div> <!-- /span8 -->

        {% include addressBlock %}
      </div> <!-- /row -->
    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBlockFn %}
  </body>
</html>
