---
showinnav: true
title: Werkwijze
navorder: 4
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor ontspanning, rust en massage ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h3>Hoe werk ik</h3>
            <p>We beginnen de afspraak met een gesprek over hoe het nú met je gaat. Uit dit gesprek komt ook naar voren welk gebied in je lichaam aandacht vraagt. Waar zit spanning of onrust. Een holistische massage is langzaam en met veel aandacht voor jou. Zo kan je beter de masserende handen volgen en ervaren wat de massage met je lichaam doet.</p>

            <p>Na de massage bespreken we kort wat je ervaringen, gedachten en gevoelens waren die tijdens de behandeling in je opkwamen.</p>

            <h3>Afspraak</h3>
            <p>Alle massagetherapie behandelingen gaan op afspraak. Tijdens de eerste behandeling vindt er een intakegesprek plaats van 15 minuten. De eerste behandeling duurt daarom ongeveer een kwartier langer. Hier zijn geen extra kosten aan verbonden.</p>

            <h3>Prijzen</h3>
            <p>Behandeling 75 minuten: € 65</p>

            <p>Tarief is inclusief 21% BTW.</p>

            <p>Betaling bij voorkeur contant of overmaken op rekening NL64ABNA0541045717 onder vermelding van notanummer. In de praktijk is pinbetaling niet mogelijk.</p>

            <p> Binnenkort alle behandelingen in Massagetherapie Hilversum worden geheel of gedeeltelijk vergoed door de meeste zorgverzekeraars in een aanvullend pakket.</p>

            <h3>Verhindering</h3>
            <p>Als je bent verhinderd laat dit dan minimaal 24 uur van te voren weten.</p>

            <p>Bij niet tijdig annuleren of verplaatsen van de afspraak wordt het reservering bedrag in rekening gebracht van € 20.</p>

            <h3>Cadeaubon: de Massagetherapie bon</h3>
            <p>Wil je iemand een massagebehandeling cadeau doen, of wil je iemand een steuntje in de rug bieden? Een Massagebon is dan een uniek cadeau! Deze bon kan op afspraak afgehaald worden.</p>

          </div>
        </div>
      </div>
    </div>

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
