---
showinnav: true
title: Werkwijze
navorder: 4
---
<!DOCTYPE html>
<html>
  <head>
    <title>Voor ontspanning, rust en massage ben je van harte welkom - Massagepraktijk Hilversum</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="massage, Hilversum, massage praktijk, holos, massagetherapie, ontspanning, relax, burnout, overspannen, heemstede, masseur, ontspanningsmassage, klassieke massage, massagecursus" />
    <meta name="description" content="Massagepraktijk Hilversum, voor een echt goede massage of massagetherapie ben je van harte welkom." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    {% include headLinks %}
  </head>
  <body>
    {% include navigationBar %}

    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <h1>Werkwijze</h1>
            <p>We beginnen de afspraak met een gesprek over hoe het nú met je gaat. Uit dit gesprek komt ook naar voren welk gebied in je lichaam aandacht vraagt en waar de spanning of onrust zit. Samen kiezen we de best passende massagevorm. Een holistische massage is langzaam en met veel aandacht voor jou. Gedurende tijd jou en niet jouw klacht staan centraal. Het voorgesprek is ook bedoeld om eventuele contra-indicaties te bespreken (koorts, ontsteking, acute hartklachten, besmettelijke huidaandoeningen)</p>
            <p>Tijdens de massage nodig ik je uit om mijn handen met je aandacht te volgen en ervaren wat de massage met je doet. Na de massage bespreken we kort jouw belevingen.</p>

            <p>Afhankelijk van jouw situatie kan het nodig/ verstandig zijn om een traject van 3 tot 5 sessies te ondergaan. We kunnen samen de mogelijkheden van het traject bekijken.</p>

            <p>Alle massagebehandelingen gaan op afspraak.</p>
            <p>Tijdens de eerste behandeling vindt er een intakegesprek plaats van 15 minuten. De eerste behandeling duurt daarom ongeveer een kwartier langer. Hier zijn geen extra kosten aan verbonden.</p>

            <h4>Prijzen:</h4>

            <p>Een massagetherapie behandeling duurt 75 minuten en kost € 65 (incl. 21% BTW)</p>

            <p>Als je voor de eerste keer bij mij komt voor de behandeling wil ik je graag een <b>kennismaking korting</b> aanbieden. Je betaalt dan geen € 65 <b>maar € 55.</b></p>

            <p>Betaling bij voorkeur contant na de behandeling of overmaken op rekeningnummer NL64ABNA0541045717 onder vermelding van het notanummer.</p>

            <p>Binnenkort alle behandelingen van Massagetherapie Hilversum worden geheel of gedeeltelijk vergoed door de meeste zorgverzekeraars in een aanvullend pakket. Je hebt er geen verwijzing van de huisarts voor nodig.</p>

            <h4>Verhindering</h4>
            <p>Als je bent verhinderd laat dit dan graag minimaal 24 uur van te voren weten. Bij niet tijdig annuleren of verplaatsen van de afspraak wordt een reserveringsbedrag van € 20 in rekening gebracht.</p>

            <h4>Cadeaubon: de Massagebon</h4>
            <p>“Het is in het geven dat we ontvangen”<p>
            <p>Wil je iemand een steuntje in de rug bieden? Een Massagebon is dan een uniek cadeau! Deze bon kan op afspraak afgehaald worden.</p>
            <p>Ik zal je bon aanpassen aan jouw wensen en mooi inpakken.</p>
          </div>
        </div>
      </div>
    </div>

    {% include addressBar %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% include addressBarFn %}
  </body>
</html>
