---
layout: default
---
    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">

            <section class="post--content">
              <h1>{{ page.title }}</h1>
              <p>{{ page.introduction }}</p>
              {{ content }}
              <p class="post--date">Oorspronkelijk geschreven: {{ page.date | date_to_string }}</p>
            </section>
            {% include maillist teaser="Wil je meer horen als dit? "%}
          </div> <!-- /indentedText -->
        </div> <!-- /span12 -->
      </div> <!-- /row -->
    </div> <!-- /container -->
