---
layout: default
---
    <div class="container bodyText">
      <div class="row">
        <div class="span12">
          <div class="indentedText">
            <section class="post--content">
              <h1>{{ page.title }}</h1>
              {{ content }}
              <p class="post--date">Oorspronkelijk geschreven:
                {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }}
                {% case m %}
                  {% when '1' %}januari
                  {% when '2' %}februari
                  {% when '3' %}maart
                  {% when '4' %}april
                  {% when '5' %}mei
                  {% when '6' %}juni
                  {% when '7' %}juli
                  {% when '8' %}augustus
                  {% when '9' %}september
                  {% when '10' %}oktober
                  {% when '11' %}november
                  {% when '12' %}december
                {% endcase %}
                {{ page.date | date: "%Y" }}
              </p>
            </section>
            {% include maillist teaser="Wil je meer horen als dit? "%}
          </div> <!-- /indentedText -->
        </div> <!-- /span12 -->
      </div> <!-- /row -->
    </div> <!-- /container -->
